@keyframes pulse {
    
100% { background-color: brown; }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, video{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
 

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}
 
img, video{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    background-color: whitesmoke;
 }
p{
    color: navy;
    font-size: 20px;
}
 
h1{
text-align: center;
 }
    
 h2{
    margin: 20px;
 }

 


mark{
    background-color: blueviolet;
    color:gold;
}


button a{
    text-decoration: none;
}
.container-header {
    border: none;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.conteneur-article{
    display: flex;
    align-items: flex-start;
    border: 1px solid mediumblue;
    padding: 20px;
}


button{
    color: rgb(12, 110, 12);
   border-radius: 10px;
   cursor: pointer;
    background-color: lightgray;
    border-color: brown;
    font-size: 15px;
    margin:10px;
    padding: 5px;
}
 
button:hover {
    background-color: rgb(12, 110, 12);
    color: white;
}

#centrage {
    margin: 0 auto;
    display: block;
    width: 50%;
}

.pulse {
    animation:pulse 3s infinite;
}


aside{
    padding: 10px;
}

.containerNav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.boite {
    display: flex;
    padding: 10px;
    margin: 10px;
   
}

.boite-video{
    width: 300px;
    height: 350px;
    padding: 20px;
    margin: 20px;
}

.Grid-partenaires {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   gap: 5px;
}
.colonne {
    column-count: 2;
    margin: 15px;
}

.float-qualio{
    float:right
}

footer,header {
    background-color: rgb(123, 116, 227);
    padding: 30px;
}




